<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.qf.oa.service"/>

    <bean class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.sina.cn"/>
        <property name="protocol" value="smtp"/>
        <property name="defaultEncoding" value="utf-8"/>
        <property name="username" value="15386272198@sina.cn"/>
        <property name="password" value="ygshihuai1314"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
            </props>
        </property>
    </bean>

</beans>